body{
    margin: 0;
    background-color: lightsalmon;
    
}
h1{
    font-size: 80px;
    color: blue; 
    font-family: 'Chela One', cursive;
    align-items: center;
}
header{
    text-align: center;
    background-image: url(../imagens/oi.jpg);
    background-size: cover;
    background-position-y: -121px;
    padding: 100px; 
    border-radius: 50%;

}
nav{
    height: 50px;
    background-color:blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.links{
    color: orangered;
    text-decoration: none;
    font-size: 16pt;
    text-transform: uppercase;
    border: 1px solid orangered;
    padding: 11px;

}
